<!-- 

<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
	<link rel="stylesheet" type="text/css" href="index.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.4.0/animate.css">
</head>
<style type="text/css">
</style>
<body>

	<div id="main_display">

		<div id="spotify_art">

			<div id="container">
				<% tracks.forEach(function (el,index){ %>
				<div class="animated bounceInRight squares hide-text" style="<%=el.attributes%>; background:url(<%=rows[index].album_url%>); background-size:cover">	
					<%= rows[index].artist_bio %> 
				</div>
				<%	}) %>
			</div>


			<div id="container2">
				<% tracks2.forEach(function (el,index){ %>
				<div class="animated bounceInRight squares hide-text" style="<%=el.attributes%>; background: url(<%=rows[index+16].album_url%>); background-size:cover">
						<%= rows[index+16].artist_bio %> 	
				</div>
				<%	}) %>
			</div>

			<div id="container3">
				<% tracks3.forEach(function (el,index){ %>
				<div class="animated bounceInRight squares hide-text" style="<%=el.attributes%>; background: url(<%=rows[index+32].album_url%>); background-size:cover">
					<%= rows[index+32].artist_bio %> 	
				</div>
				<%	}) %>
			</div>	
		</div>

	<div id="biography">
		
			<p id="bio_text">Regina Spektor (born Regina Ilyinichna Spektor on 18 February 1980 in Moscow) is a Russian-born American singer-songwriter and pianist. Her music is associated with the anti-folk scene centered on New York City's East Village.<br>

				Spektor studied classical piano from the age of six, practising on a Petrof piano given to her mother by her grandfather. She was also exposed to the music of rock and roll bands such as The Beatles, Queen, and The Moody Blues by her father, who obtained such recordings in Eastern Europe and traded cassettes with friends in the Soviet Union. The family left the Soviet Union in 1989, when Regina was nine, during the period of Perestroika when Jewish citizens were permitted to emigrate. The seriousness of her piano studies led her parents to consider not leaving Russia, but they finally decided to emigrate, for religious and political reasons.<br>

				Travelling first to Austria and then Italy, the family settled in the Bronx, New York, United States where Spektor graduated from a middle school yeshiva. She then attended the Frisch Yeshiva High School in Paramus, New Jersey on a scholarship for two years, but, feeling out of place, eventually transferred to a secular public school, Fair Lawn High School, in Fair Lawn, New Jersey, where she finished the last two years of her high school career.</p>
			
	</div>

	</div>



<script type="text/javascript" src="main.js"></script>
	
	</body>
	</html>


	
	 -->