<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
	<link rel="stylesheet" type="text/css" href="index.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.4.0/animate.css">
</head>
<style type="text/css">
	#comment_field{
		display: none;
		color: black;
	}

.squares{
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: 1;
}

</style>
<body>
	<div id="main_display">

		<div id="spotify_art">


<% console.log(rows.length) %> 
		<% var effects = ["bounceInLeft","bounceInRight","bounceInUp","bounceInDown","zoomInUp","zoomIn","zoomInLeft","zoomInRight"] %>
	<%	if(Math.floor(rows.length/16) === 0){ %>
		<%console.log("hello")%>

			<div id="container">
				<% tracks.forEach(function (el,index){ %>
			<%	var effect = effects[Math.floor(Math.random()*effects.length)]; %>
				<div class="animated " + effect + " squares hide-text" style="<%=el.attributes%>; background:url(<%=rows[index].album_url%>); background-size:cover">	
					<%= rows[index].artist_bio %> 
				</div>
				<%	}) %>
			</div>

	<%	} else if ((Math.floor(rows.length/16) === 2) && (rows.length%16 === 0)) { %>

			<%console.log("hello1")%>
			<div id="container">
				<% tracks.forEach(function (el,index){ %>
				<div class="animated bounceInRight squares hide-text" style="<%=el.attributes%>; background:url(<%=rows[index].album_url%>); background-size:cover">	
					<%= rows[index].artist_bio %> 
				</div>
				<%	}) %>
			</div>

	
			<div id="container2">
				<% tracks2.forEach(function (el,index){ %>
				<div class="animated bounceInRight squares hide-text" style="<%=el.attributes%>; background: url(<%=rows[index+16].album_url%>); background-size:cover">
						<%= rows[index+16].artist_bio %> 	
				</div>
				<%	}) %>
			</div>

	<%	} else if ((Math.floor(rows.length/16) >= 3)) { %>

			<%console.log("hello2")%>
			<div id="container">

				<% tracks.forEach(function (el,index){ %>
				<%	var effect = effects[Math.floor(Math.random()*effects.length)]; %>
				<div class="animated <%= effect %> squares hide-text" style="<%=el.attributes%>; background:url(<%=rows[index].album_url%>); background-size:cover">
					<%= rows[index].artist_bio %> 
				</div>
				<%	}) %>
			</div>

	
			<div id="container2">
				<% tracks2.forEach(function (el,index){ %>
				<%	var effect = effects[Math.floor(Math.random()*effects.length)]; %>
				<div class="animated <%= effect %> squares hide-text" style="<%=el.attributes%>; background: url(<%=rows[index+16].album_url%>); background-size:cover">
						<%= rows[index+16].artist_bio %> 	
				</div>
				<%	}) %>
			</div>

			<div id="container3">
				<% tracks3.forEach(function (el,index){ %>
				<%	var effect = effects[Math.floor(Math.random()*effects.length)]; %>
				<div class="animated <%= effect %> squares hide-text" style="<%=el.attributes%>; background: url(<%=rows[index+32].album_url%>); background-size:cover">
					<%= rows[index+32].artist_bio %> 	
				</div>
				<%	}) %>
			</div>	

	<%	} %>	

		</div>




	<div id="biography">

		
			<p id="bio_text"> ARTIST BIO</p>

			<button class="comment_toggle" type="button"><h2>Enter a comment</h2></button>
		
		<div id="comment_field">
			<form method="POST" action="/forums">
				User-name:
				<input name="user_name" type="text"><br>
				<input name="forum_id" type="hidden"><br>
				<textarea name="comment" cols="80" rows="5"></textarea><br>
				<input type="submit"> 
			</form>
		</div>
			
	</div>

	</div>

	<div id="video">
	</div>


<!-- 	<iframe width="1280px" height="720px" src="https://www.youtube.com/embed/rVeMiVU77wo?autoplay=1&rel=0&showinfo=0&controls=0&iv_load_policy=3" frameborder="0" allowfullscreen></iframe> -->

<script type="text/javascript" src="main.js"></script>
	
	</body>
	</html>
